.table {
  border: 1px solid white;
  border-spacing: 0;
}

.header {
  text-align: start;
  border: 1px solid white;
  padding: 0.2em;
  font-size: 0.7em;
}

.row {
  height: 38px;
  font-size: 0.7em;
}

.cell {
  padding: 0.4em;
}
